
{% load static %}


<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/Style_Profile_Yunie_revisi.css' %}">
    <title>Sign Up</title>
  </head>

  <body>  
    {% block content %}
    <br><br><br>
    <div class = "row justify-content-center" style ="padding-top:0.5%;">
    <h1 align = "center">Hello World<br>Welcome to Sign Up Page!</h1><br></div>
    <div class = "row justify-content-center" style ="padding-top:0.5%;"></div><br><br><br>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Sign up</button>
    </form>
    {% endblock %}
    </body>
</html>